@import url('../colors.css');

.content-playlist-container {
	background: blueviolet;
	margin: 1%;
	border-radius: 14px;
	width: 98%;
	height: 100%;
}

.content-playlist-container-header {
	width: 100%;
	height: auto;
	border-radius: 14px;
	display: grid;
	grid-template-columns: 25% 75%;
	align-items: center;
	background: var(--playlist-container-background);
}

.content-playlist-container-image-container {
	width: 95%;
	height: 95%;
	margin-left: 2.5%;
}

.content-playlist-container-image-container img {
	border-radius: 14px;
	max-width: 100%;
	max-height: 100%;
}

.content-playlist-container-text-container {
}
