@import url('../colors.css');
@import url('./input/text.css');
@import url('./input/picture.css');
@import url('./input/song.css');

.upload-song-container {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 1.75%;
}

.upload-song-container .content {
	display: flex;
	flex-direction: row;
}

.upload-song-container .content .input-text {
	width: 25%;
}

.upload-song-container .content .input-picture {
	width: 37.5%;
}

.upload-song-container .content .input-audio-file {
	width: 37.5%;
}

.upload-song-container .content .button-container {
}
