@import url('../../colors.css');

.module-input-picture-container {
	display: flex;
	flex-direction: column;
	background: var(--input-text-background);
	margin: 5%;
	border-radius: 14px;
}

.module-input-picture-container .image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.module-input-picture-container .image-container img {
	max-width: 100%;
	max-height: 300px;
	width: auto;
	height: auto;
	border-radius: 14px;
	object-fit: scale-down;
}

.module-input-picture-container .file-input {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}

.module-input-picture-container .file-input input {
	width: 90%;
	margin: 14px;
	padding: 10px;
	border-radius: 14px;
	text-align: center;
	background: rgb(24, 24, 24);
	border: 1px solid rgb(24, 24, 24);
	color: var(--text-color);
	outline: none;
}
