:root {
	--dark-background: rgb(0, 0, 0);
	--background: rgb(36, 36, 36);

	--gray-text-color: rgb(128, 128, 128);
	--text-color: rgb(255, 255, 255);

	--scrollbar-color: #131313;

	--sidebar-background: rgb(18, 18, 18);
	--sidebar-input-backgronud: rgb(36, 36, 36);

	--controls-background: rgb(0, 0, 0);

	--main-background-1: rgb(18, 18, 18);
	--main-background-2: rgb(28, 28, 28);

	--header-background: rgb(18, 18, 18);

	--playlist-container-background: rgb(18, 18, 18);

	--song-container-background: rgb(18, 18, 18);
	--song-container-author-text-color: rgba(255, 255, 255, 0.45);

	--input-text-background: rgb(18, 18, 18);

	--create-button-background: rgb(18, 18, 18);
	--create-button-background-hover: rgb(24, 24, 24);

	--upload-button-background: rgb(18, 18, 18);
	--upload-button-background-hover: rgb(0, 0, 0);

	--slider-foreground: rgb(24, 24, 24);
	--slider-background: rgb(0, 0, 0);
}
