@import url('colors.css');

.controls {
	position: fixed;
	top: calc(100% - 78px);
	left: 0;
	height: 78px;
	width: 100%;
	background: var(--controls-background);
}

.controls .current-content {
	position: absolute;
	color: var(--text-color);
	bottom: 0;
	left: 0;
}

.controls .current-content .current {
	position: relative;
	padding: 10px 6px;
	height: 60px;
	transform: translateY(-25%);
}

.controls .current-content .current .current-details {
	display: flex;
	align-items: center;
}

.current .current-details i,
.current .current-details img {
	height: 45px;
	width: 45px;
	object-fit: scale-down;
	border-radius: 12px;
	text-align: center;
	font-size: 48px;
}

.current .current-details .current-name-author {
	margin-left: 10px;
}

.current .current-details .current-name {
	font-size: 15px;
	font-weight: 400;
}

.current .current-details .current-author {
	font-size: 12px;
}

.controls .controls-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-65%);
	color: var(--text-color);
	font-size: 48px;
	line-height: 48px;
}

.controls .controls-container i {
	transition: all 0.2s ease;
}

audio {
	display: none;
}

input[type='range'] {
	appearance: none;
	-webkit-appearance: none;
	position: absolute;
	width: 100%;
	background: var(--controls-background);
}

input[type='range']::-webkit-slider-runnable-track {
	background: var(--slider-background);
	height: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type='range'] {
		overflow: hidden;
		width: 100%;
		height: 5%;
		appearance: none;
		-webkit-appearance: none;
		background-color: var(--slider-background);
	}

	input[type='range']::-webkit-slider-runnable-track {
		height: 10px;
		-webkit-appearance: none;
		color: var(--slider-background);
		margin-top: -1px;
	}

	input[type='range']::-webkit-slider-thumb {
		width: 10px;
		-webkit-appearance: none;
		height: 10px;
		cursor: ew-pointer;
		background: var(--slider-foreground);
		box-shadow: -9999px 0 0 9999px var(--slider-foreground);
	}
}

input[type='range']::-moz-range-progress {
	background-color: var(--slider-foreground);
}
input[type='range']::-moz-range-track {
	background-color: var(--slider-background);
}

.not-enabled {
	color: var(--gray-text-color);
}

.hidden {
	display: none;
}
